$hue: 'indigo';
$indices: (
	'primary': 500,
	'dark': 700,
	'light': 400
);

$accent-hue: 'light-blue';
$accent-indices: (
	'primary': 'A200',
	'fallback1': 'A100',
	'fallback2': 'A400'
);

@import "../bower_components/google-colors/color_functions";
@import "../bower_components/google-colors/color_mixins";