@charset "UTF-8";
@import url(vendor/normalize.css);
@import url(vendor/nanoscroller.css);
h1, h2, h3, h4, h5 {
  font-family: "RobotoCondensed";
  font-weight: 500;
}

* {
  box-sizing: border-box;
  -webkit-user-select: none;
}

div[head], div[head] *, div[main], div[main] * {
  -webkit-user-select: text;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto";
  overflow: hidden;
}

.nano {
  position: absolute;
  top: 99px;
  bottom: 80px;
  height: calc(100% - 99px - 80px);
  padding-bottom: 20px;
  overflow: hidden;
}

button:focus, button:active {
  outline: 0 none;
}

#title-bar {
  z-index: 10;
  -webkit-user-select: none;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 35px;
  background: #2d2d2d;
  padding: 0;
}
#title-bar #drag {
  -webkit-app-region: drag;
  width: calc(100% - 80px);
  height: 100%;
  position: absolute;
}
#title-bar #actions {
  text-align: right;
  height: 100%;
  line-height: 0;
  padding-top: 10px;
  padding-right: 10px;
}
#title-bar button {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 0 none;
  margin: 0 0 0 5px;
  padding: 0;
  cursor: pointer;
  transition: all .15s ease-in-out;
  opacity: 0.8;
}
#title-bar button:hover {
  box-shadow: 0 0 5px #000;
  opacity: 1;
}
#title-bar button#closeWin {
  background: #f2777a;
}
#title-bar button#maximizeWin {
  background: #99cc99;
}
#title-bar button#minimizeWin {
  background: #ffcc66;
}

#toolbars {
  z-index: 5;
  position: fixed;
  top: 35px;
  width: 100%;
  overflow: hidden;
}
#toolbars > core-toolbar {
  float: left;
}
#toolbars > core-toolbar[menu-toolbar] {
  background-color: #303f9f;
  color: rgba(255, 255, 255, 0.87);
  width: 250px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  z-index: 1;
}
#toolbars > core-toolbar[menu-toolbar] .secondary {
  color: rgba(255, 255, 255, 0.54);
}
#toolbars > core-toolbar[menu-toolbar] .hint {
  color: rgba(255, 255, 255, 0.26);
}
#toolbars > core-toolbar[menu-toolbar] .divider {
  color: rgba(255, 255, 255, 0.12);
}
#toolbars > core-toolbar[menu-toolbar] h1, #toolbars > core-toolbar[menu-toolbar] h2, #toolbars > core-toolbar[menu-toolbar] h3, #toolbars > core-toolbar[menu-toolbar] h4, #toolbars > core-toolbar[menu-toolbar] h5 {
  color: white;
}
#toolbars > core-toolbar[content-toolbar] {
  background-color: #3f51b5;
  color: rgba(255, 255, 255, 0.87);
  width: calc(100% - 250px);
}
#toolbars > core-toolbar[content-toolbar] .secondary {
  color: rgba(255, 255, 255, 0.54);
}
#toolbars > core-toolbar[content-toolbar] .hint {
  color: rgba(255, 255, 255, 0.26);
}
#toolbars > core-toolbar[content-toolbar] .divider {
  display: none;
  color: rgba(255, 255, 255, 0.12);
}
#toolbars > core-toolbar[content-toolbar] h1, #toolbars > core-toolbar[content-toolbar] h2, #toolbars > core-toolbar[content-toolbar] h3, #toolbars > core-toolbar[content-toolbar] h4, #toolbars > core-toolbar[content-toolbar] h5 {
  color: white;
}
#toolbars > core-toolbar[content-toolbar] h3 {
  white-space: nowrap;
}
#toolbars > core-toolbar[content-toolbar] .part ~ .part:before {
  content: "›";
  color: rgba(255, 255, 255, 0.26);
  margin: 0 0.3em;
}

#pheo-menu {
  float: left;
  height: auto;
  width: 250px;
  margin: 0;
  padding: 20px;
}

#pheo-content {
  float: left;
  width: calc(100% - 250px);
  height: auto;
  min-height: 100%;
  padding: 20px;
  box-shadow: inset 5px 0 5px -5px rgba(0, 0, 0, 0.3);
}
#pheo-content .cover, #pheo-content .tracklist {
  float: left;
}
#pheo-content .cover {
  width: 200px;
}
#pheo-content .cover img {
  width: 100%;
  height: auto;
}
#pheo-content .tracklist {
  width: calc(100% - 200px);
}
#pheo-content .tracklist .track {
  width: 100%;
  height: 48px;
  line-height: 48px;
  padding-left: 20px;
  white-space: nowrap;
}
#pheo-content .tracklist .track .tracknumber {
  display: inline-block;
  width: 1em;
  margin-right: 0.5em;
  font-weight: 700;
  font-family: 'RobotoCondensed';
  text-align: right;
}
#pheo-content .tracklist .track div {
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}
#pheo-content .tracklist .track:last-child div {
  border-bottom: 0 none;
}
#pheo-content .tracklist .track.active {
  background-color: #40c4ff;
  color: rgba(0, 0, 0, 0.87);
}
#pheo-content .tracklist .track.active h1, #pheo-content .tracklist .track.active h2, #pheo-content .tracklist .track.active h3, #pheo-content .tracklist .track.active h4, #pheo-content .tracklist .track.active h5 {
  color: black;
}
#pheo-content .tracklist .track.active .secondary {
  color: rgba(0, 0, 0, 0.54);
}
#pheo-content .tracklist .track.active .hint {
  color: rgba(0, 0, 0, 0.26);
}
#pheo-content .tracklist .track.active .divider {
  color: rgba(0, 0, 0, 0.12);
}

core-drawer-panel div[drawer] {
  box-shadow: 1px 0 1px rgba(0, 0, 0, 0.1);
}
