<link rel="import" href="../../bower_components/polymer/polymer.html">

<polymer-element name="title-bar">
	<template>
		<link rel="stylesheet" href="title-bar.css">

		<div id="titlebar">
			<div id="drag">
				<content></content>
			</div>

			<div id="actions">
				<button on-click="{{minimizeWindow}}" id="minimize"></button>
				<button on-click="{{maximizeWindow}}" id="maximize"></button>
				<button on-click="{{closeWindow}}" id="close"></button>
			</div>
		</div>
	</template>
	<script>
		var maximized = false;

		var remote = require('remote');
		var win = remote.getCurrentWindow();

		Polymer({
			closeWindow: function() {
				win.close();
			},
			maximizeWindow: function() {
				if(maximized)
					win.unmaximize();
				else
					win.maximize();

				maximized = !maximized;
			},
			minimizeWindow: function() {
				win.minimize();
			}
		});
	</script>
</polymer-element>