:host {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #3f51b5;
  color: rgba(255, 255, 255, 0.87);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  -webkit-user-select: none;
}
:host .secondary {
  color: rgba(255, 255, 255, 0.54);
}
:host .hint {
  color: rgba(255, 255, 255, 0.26);
}
:host .divider {
  display: none;
  color: rgba(255, 255, 255, 0.12);
}
:host h1, :host h2, :host h3, :host h4, :host h5 {
  color: white;
}

[buttons] {
  height: 80px;
}

paper-slider {
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100% + 32px);
  margin-top: -16px;
  margin-left: -16px;
}
