<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/paper-menu-button/paper-menu-button.html">
<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">

<link rel="import" href="../../bower_components/paper-slider/paper-slider.html">

<polymer-element name="playstate-bar">
	<template>
		<link rel="stylesheet" href="playstate-bar.css">

		<paper-slider pin="true"></paper-slider>

		<div horizontal center-justified layout id="buttons">
			<paper-icon-button icon="av:skip-previous" size="32" rippleColor="#fff" class="secondary"></paper-icon-button>
			<paper-icon-button icon="av:play-arrow" size="48" rippleColor="#fff"></paper-icon-button>
			<paper-icon-button icon="av:skip-next" size="32" rippleColor="#fff" class="secondary"></paper-icon-button>
		</div>
	</template>
	<script>
		Polymer({
			
		});
	</script>
</polymer-element>